<div class="container">
    <div id="debateContainer" class="row" >

        <div id="debateContent" class="col-md-{{(vm.currentUserID !== 3)?6:12}} scroll" style=" height: 350px; border-style: solid; border-width: 1px; border-color: gray">
            <div class="col-md-10 row" ng-repeat="item in vm.cards">
                <md-card  ng-cloak>
                    <md-card-header style="padding-bottom:4px">
                        <md-card-avatar>
                            <img ng-if="vm.currentUserID == 1" ng-src="assets/monsters/green.png"></img>
                            <img ng-if="vm.currentUserID == 2" ng-src="assets/monsters/blue.png"></img>
                            <!--<img ng-src="(debateData.users[vm.currentUserID]).img"></img>-->
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{vm.currentUserName}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content style="padding-top:4px; padding-bottom:6px">
                        {{item}}
                    </md-card-content>
                </md-card> 
            </div>               
        </div>               
        <div id="debateTextEditor" class="col-md-6" ng-show="vm.currentUserID !== 3" style="height: 350px">
           <!--<text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]" ng-model="debateData.chatA[vm.msgCounter]">
               
           </text-angular>-->
           <!--<textarea ng-model="debateData.chatA[vm.msgCounter]"></textarea>-->
            <md-input-container class="md-block" flex-gt-sm>
            <label>Your Opinion</label>
            <textarea ng-model="debateData.chatA[vm.msgCounter]" rows="9" style="background-color: white"></textarea>
            </md-input-container>

            <md-button style="background-color: gray" ng-disabled="vm.currState % 2 !== vm.currentUserID" ng-click="vm.postMsg(debateData.chatA[vm.msgCounter])">Post</md-button>

        </div> 
    </div>
    <div id="debateComments" class="row" style="padding-top: 10px;" ng-hide="vm.currentUserID !== 3">
        <div id="commentsCards" style="background-color: white;">
            
                <div class="offset-md-1 col-md-10">
                    <md-card ng-repeat="item in vm.comments" >
                        <md-card-header style="padding-bottom:4px">
                            <md-card-avatar>
                                <img ng-if="vm.currentUserID == 3" ng-src="assets/monsters/yellow.png"></img>
                            
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{vm.currentUserName}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content style="padding-top:4px; padding-bottom:6px">
                            {{item}}
                        </md-card-content>
                    </md-card>
                </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
            <md-input-container class="md-block offset-md-1 col-md-10" flex-gt-sm>
            <label>Add comment</label>
            <input md-maxlength="130" ng-model="debateData.comments[vm.commentCounter]" />
            </md-input-container>
            <md-button style="background-color: gray" ng-click="vm.postComment(debateData.comments[vm.commentCounter])">Post</md-button>
            </div>
        </div>
    </div>
    <div id="debateRecommendations" class="row" style="background-color: green;" ng-hide="vm.currentUserID !== 3">
        <md-card style="margin: 0px; padding: 1px; border-style: solid; border-color: gray; border-width: 1px; border-top-width: 2px" class="col-md-3" ng-repeat="item in vm.recommendations" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div class="md-media-lg card-media">
                    <a href={{item.link}} style="margin: 0px"> 
                        <img src={{item.img}} style="padding: 0px;">
                    </a>      
                    </div>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>     
    </div>
</div>