<div class="container">
    <div id="debateContainer" class="row" >
        <div id="debateContent" class="col-md-6" style="background-color: red; height: 350px"></div>
        <div id="debateTextEditor" class="col-md-6" style="height: 350px">
           <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]"></text-angular>
            <md-button>Post</md-button>
        </div> 

        </div>
        <div id="debateComments" class="row" style="background-color: black; height: 50px">
            <textarea style="width:100%; resize: none" readonly>
                put comments here
            </textarea> 
        </div>
        <div id="debateRecommedetions" class="row" style="background-color: green; height: 50px">

        </div>
</div>