<div class="container">
    <div id="debateContainer" class="row" >
        <div id="debateContent" class="col-md-6" style="background-color: red; height: 350px">bla bla <br>bla </br> </div>
        <div id="debateTextEditor" class="col-md-6" style="background-color: blue; height: 350px">bla</div>
    </div>
        <div id="debateComments" class="row" style="background-color: black; height: 50px">
        </div>
        <div id="debateRecommedetions" class="row" style="background-color: green; height: 50px">

        </div>
</div>