<div class="container" style="background-color:#CCD6DE">
    <div class="row">
        <!--<div class="col-sm-offset-5 col-sm-2 text-center" style="padding-bottom: 15px;">
            <md-button class="btn12">create new debate </md-button>
        </div>-->
        
</div>
    <div class="row">
        <div class="col-md-4">
            <label class="state-header">Favorite Debates</label>
            <div class="col-md-12" ng-repeat="item in vm.namesWithRates">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <a ui-sref="debate"><span class="md-headline">Favorite Debate # {{vm.counter }}</span></a><br/>
                            <span style="align-self: center" class="md-headline">{{item.name1}} vs {{item.name2}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="assets/icons/favorite-icon.svg"></md-icon>
                        <md-tooltip md-direction="down" style="font-size:20px">
                            Add to favorite
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                       <a id="fb-share" style='text-decoration:none;' 
                       type="icon_link" 
                       onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=My Debate&p[summary]=Share this debate with your friends&p[url]=http://www.google.com&p[images][0]=YOUR_IMAGE','sharer','toolbar=0,status=0,width=580,height=325');" 
                       href="javascript: void(0)">
                        <md-icon md-svg-icon="assets/icons/share-icon.svg"></md-icon>
                        </a>
                    </md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
            </div>
        </div>
        

        <div class="col-md-4">
            <label class="state-header">Top Rated Debates</label>
            <div class="col-md-12" ng-repeat="item in vm.namesWithRates">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                <a ui-sref="debate">
                                    Top Debate # {{vm.counter }}
                                </a>
                                <md-icon md-svg-icon="assets/icons/heart-icon.svg"></md-icon>
                                    {{item.rate}}
                                </span>
                                <br/>   
                            <span style="align-self: center" class="md-headline">{{item.name1}} vs {{item.name2}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="assets/icons/favorite-icon.svg"></md-icon>
                        <md-tooltip md-direction="down" style="font-size:20px">
                            Add to favorite
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="assets/icons/share-icon.svg"></md-icon>
                    </md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
            </div>
        </div>


        <div class="col-md-4">
            <label class="state-header">Pendding Debates</label>
            <div class="col-md-12" ng-repeat="name in vm.names">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                                <span class="md-headline" >
                                    <md-button style="display:block" ui-sref="debate" aria-label="button-label" class="md-raised md-primary" >
                                       accept the challenge
                                    </md-button>
                                    <!--<md-icon style="height:50px" md-svg-src="assets/icons/fight-icon.svg"></md-icon>-->
                                  </span>
                                  <md-icon style="display:block;height:100px;width: 100px" md-svg-icon="assets/icons/fight-icon.svg"></md-icon>
                            <br/>   
                            <span style="align-self: center"  class="md-headline">{{name}} is waiting...
                                <md-icon md-svg-icon="assets/icons/live-icon.svg"></md-icon>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="assets/icons/favorite-icon.svg"></md-icon>
                        <md-tooltip md-direction="down" style="font-size:20px">
                            Add to favorite
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                       <a id="fb-share" style='text-decoration:none;' 
                       type="icon_link" 
                       onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=My Debate&p[summary]=Share this debate with your friends&p[url]=http://www.google.com&p[images][0]=YOUR_IMAGE','sharer','toolbar=0,status=0,width=580,height=325');" 
                       href="javascript: void(0)">
                        <md-icon md-svg-icon="assets/icons/share-icon.svg"></md-icon>
                        </a>
                    </md-button>
                    </md-card-actions>
                </md-card>
                <md-card>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-11 col-md-1 text-center">
            <md-button class="md-fab md-primary btn2" aria-label="Create a new debate" ng-click="vm.openCreateModal()">
                <md-icon md-svg-src="assets/icons/plus.svg"></md-icon>
                <md-tooltip md-direction="top" style="font-size:20px">
                    Create a new debate
                </md-tooltip>
            </md-button>
        </div>
    </div>

    <!--<div class="row">
        <md-input-container class="md-block" flex-gt-sm>
                <label>First name</label>
                <input ng-model="nisan.text">
         </md-input-container>
         <div class="col-sm-6">
         <a data-toggle="modal" data-target="#myModal" class="btn btn-circle btn-primary" ng-click="vm.changeDB(vm.user.firstName)"><i class="glyphicon glyphicon-ok"></i></a>
         <p> You Said: {{ nisan.text }} . </p>
         
        </div>
    </div>-->
    <!--use this circle buttons here: http://bootsnipp.com/snippets/8deZ-->
</div>

 <script type="text/ng-template" id="createDebateModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


