<div class="container">
    <div class="row">
        <div class="col-sm-6">
        COOL
        </div>

        <div class="col-sm-6">
        im inside the HOME bla!
        </div>
    </div>
    <!--<div>
    <h1>Found in {{ vm.name }}.html</h1>
    <uib-timepicker ng-model="vm.mytime" ng-change="vm.changed()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></uib-timepicker>
    </div>-->

    <div class="row">
        <md-input-container class="md-block" flex-gt-sm>
                <label>First name</label>
                <input ng-model="vm.user.firstName">
         </md-input-container>
         <div class="col-sm-6">
         <a data-toggle="modal" data-target="#myModal" class="btn btn-circle btn-primary" ng-click="vm.changeDB(vm.user.firstName)"><i class="glyphicon glyphicon-ok"></i></a>
         <!--use this circle buttons here: http://bootsnipp.com/snippets/8deZ-->
        </div>
    </div>
    
</div>


