

.state-header {
    font-size: 22px;
    padding-left:25px;
}

.md-button.btn12 {
 background-color: #03A9F4;
 color: white;
 
}

.md-button.md-fab.md-primary.btn2 {
    position: fixed;
    top: 90%;
    left: 90%;
    background-color: #2879BC;
}
