<div class="container">

    <!--<div class="col-sm-10">
    <div class="row">
        <form name="userForm">
        <md-input-container class="md-block col-md-6" flex-gt-sm>
          <label>First Name</label>
          <input md-maxlength="30" required name="name" ng-model="user.name" />
          <div class="hint" ng-if="false">Tell us what we should call you!</div>
          <div ng-messages="userForm.name.$error" ng-if="true">
            <div ng-message="required">Name is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block col-md-6" flex-gt-sm>
          <label>Last Name</label>
          <input md-maxlength="30" required name="lname" ng-model="user.lastname" />
          <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
          <div ng-messages="userForm.name.$error" ng-if="!showHints">
            <div ng-message="required">Name is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>
        </form>
    </div>
    </div>-->

  <div class="row" style="height: 50px"></div>
    <a class="button" href="#" ng-click="vm.click1()"><span>Login as Nisan</span></a>

    <a class="button" href="#" ng-click="vm.click2()"><span>Login as Adi</span></a>

    <a class="button" href="#" ng-click="vm.click3()"><span>Login as Lev</span></a>


</div>